<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="delay-server">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix="Test.php">./tests</directory>
        </whitelist>
    </filter>
</phpunit>